XML_WSDL_BASICS/createWSDL/src/main/webapp/WEB-INF/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://com.kushal.wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="CustomerOrdersService" targetNamespace="http://com.kushal.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.kushal.wsdl">
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="quantity" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="orderId" type="xsd:integer" />
					<xsd:element name="products" type="tns:product"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="CustomerId" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrderResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order"
						maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer" />
					<xsd:element name="order" type="tns:order" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrderResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getOrdersRequest"
				type="tns:getOrdersRequest" />
			<xsd:element name="getOrdersResponse"
				type="tns:getOrderResponse" />
			<xsd:element name="createOrdersRequest"
				type="tns:createOrderRequest" />
			<xsd:element name="createOrdersResponse"
				type="tns:createOrderResponse" />

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="tns:createOrdersRequest"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse"
			name="parameters" />
	</wsdl:message>


	<wsdl:portType name="CustomerOrdersPortyType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest"
				name="getOrdersRequest" />
			<wsdl:output message="tns:getOrdersResponse"
				name="getOrdersResponse" />
		</wsdl:operation>

		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest"
				name="createOrdersRequest" />
			<wsdl:output message="tns:createOrdersResponse"
				name="createOrdersResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomerOrdersServiceSOAPBinding"
		type="tns:CustomerOrdersPortyType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation
				soapAction="http://com.kushal.wsdl/NewOperation" />
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createOrders">
			<soap:operation
				soapAction="http://com.kushal.wsdl/NewOperation" />
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="tns:CustomerOrdersServiceSOAPBinding"
			name="CustomerOrdersPort">
			<soap:address
				location="http://localhost:8080:createWSDL/services/customerOrderService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
